<head>
  <!-- Meta Information -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  
  <!-- FontAwesome Icons -->
  <script defer src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  
  <!-- Main CSS -->
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  
  <!-- Favicon and Touch Icons -->
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/img/glasses.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/img/glasses.png">
  
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
