---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <p>
      Merhaba! I’m Yağmur, a Ph.D. student in Linguistics at the University of California, Santa Cruz. 
    </p>
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/kiper.jpeg" alt="Home" width="100%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">recent updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div>
