---
layout: default
---

<div class="row g-5 mb-5">
  <!-- LEFT: main teaching content -->
  <div class="col-md-8">
    {{ content }}
  </div>

  <!-- RIGHT: resources box -->
  <aside class="col-md-4">
    <div class="resources-sidebar">
      <h3 class="updates-title fw-bold border-bottom pb-3 mb-4">resources</h3>

<div class="resources-container small">

  <p>
    <strong>Linguistics for Juniors</strong>
  </p>

  <ul class="ps-3">
    <li>
      <a href="/assets/handouts/L4J_HO1.pdf" target="_blank">
        Linguistics as a Science
      </a>
    </li>

    <li>
      <a href="/assets/handouts/L4J_HO2.pdf" target="_blank">
        Getting Started with Morphology
      </a>
    </li>

    <li>
      <a href="/assets/handouts/L4J_HO3.pdf" target="_blank">
        Morphological Variation
      </a>
    </li>
  </ul>

</div>


